<div class="flex-container-row align-center">


  <div>
    <button class="btn-primary btn" (click)="previousSprint()">Previous Sprint</button>
  </div>
  
  <div class="card-body">
    <div class="flex-container-column-nav">
      <h1>{{sprintInfo?.name}}</h1>
      <br />
      <p><b>Start:</b>{{formattedStartDate | date:'dd-MM-yyyy'}} | <b>End:</b>{{formattedEndDate | date:'dd-MM-yyyy'}}</p>
    </div>
  </div>

  <div>
    <button class="btn-primary btn" (click)="nextSprint()">Next Sprint</button>
  </div>
    
</div>
